/*Global*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  color: #222;
  font-family: "open sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/*Mixins*/
.visually-hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

/*Variables*/

/*Основной шрифт*/
@font: "Open Sans", "Arial", sans-serif;
@font-size: 14px;
@line-height: 24px;

/*Переменные цветов*/
@white: #ffffff;
@black: #000000;
@blue-darkest: #1d2631;
@blue-dark: #283645;
@grey-light: #f2f2f2;
@grey: #e5e5e5;
@grey-darker: #222;
@pink: #ff2e63;
@green: #38cd8b;
@green-darker: #1c9b5e;

/*Основные цвета*/
@font-color: @blue-dark;
@bg--body: @white;
@link-color: @pink;
@link-color--hover: @pink;

/*Размеры экранов*/
@phones-width: 320px;
@phones-max-width: 659px;
@tablets-width: 660px;
@tablets-max-width: 959px;
@desktops-width: 960px;


/*Style*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  line-height: 1.5;
  box-sizing: border-box;
  border: 0;
}

.page-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-nav {
	order: 3;
	width: 100%; 
  display: flex;
}

.site-list {
	.reset-list;
	display: flex;
	flex-wrap: wrap;
  margin-top: 25px;

  &__item {
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-right: 0;
    }

    & a {
      color: @grey-darker;
      text-decoration: none;

      &:hover {
        color: @pink;
      }
    }
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__login {
    color: @grey-darker;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    vertical-align: top;
    margin-right: 25px;

    &:hover {
      color: @pink;
    }
  }

  &__reg {

    color: @white;
    background-color: @pink;
    padding: 4px 20px;

    &:hover {
      background-color: @green;
    }
  }
}

.intro {
  padding-bottom: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__img {
    order: 1;
    padding-right: 32px;
  }

  &__text {
    order: 2;
    padding: 0 32px;
  }

  &__title {    
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 32px 0;
    padding: 0;
  }

  &__subtitle {
    color: #494e5f;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin: 24px 0;
    padding: 0;
  }

  &__note {
    margin: 12px 0 4px;
    font-size: 21px;
    padding: 0;
  }

  &__raiting {
    display: block;
    height: 28px;
    margin: 0 auto;
    width: 152px;
  }

  &__button {
    display: inline-block;
    color: @white;
    background-color: @pink;
    margin-top: 60px;
    border-radius: 30px;
    font-size: 24px;
    padding-bottom: 13px;
    padding-top: 13px;
    padding: 8px 40px;
  }
}

@media (max-width: @phones-max-width) {
  .name-header {
    display: none;
  }
}


@media (min-width: @tablets-width) {
  .logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .name-header {
    display: block;
    font-weight: 700;
    font-size: 32px;
    margin-left: 10px;
  }

  .site-list {
    justify-content: space-around;
  }
}

@media (min-width: @desktops-width) {
  .page-header {
    align-items: center;
  }

  .logo-header {
    order: 1;
  }

  .main-nav {
    order: 2;
    width: auto;
    max-width: 550px;
    margin-top: 0;
  }

  .site-list {
    &__item {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }

  .user {
    order: 3;
  }
}